*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 50px;
    display: flex;
    width: 100%;
    height: 150px;
    background-color:white;
    justify-content: inherit;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 30px;
}
.logo img{
    max-width: 60%;

}
.title{
    display: flex;
    margin-left: 150px;
}
.title a{
    margin-left: 35px;
    font-size: 35px;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
}
.title a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: red;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.1s;

}
.title a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.title a:hover{
    color: red;
    cursor:pointer;
}
body{
    
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
}
main{
    box-shadow: 0 0 30px;
    width: 100%;
    height: 1080px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: url(construçãocivil_2020.jpg) ;
    background-position: center;
    background-size: cover;
   
    
}
main h1{
    color: black;
    width: 500px;
    height: 100px;
    display: flex;
    position: center;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

}